@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
	background-color: #FCD03A;
}

@media only screen and (max-device-width: 856px) {
	[aria-label='Our Advisors'] .ins-tile__body .ins-tile__column .ins-tile__item {
		gap: 16px;
		margin: 0;
		padding-bottom: 12px !important;
	}

	.ins-accordion .ins-accordion__item-title {
		padding-left: 12px;
	}

	[aria-label="Be a Lemonade Volunteer!"] {
		padding: 0px !important;
		margin-top: 0px !important;
	}

	[aria-label="Be a Lemonade Volunteer!"] .ins-tile__animated>div>div {
		padding: 20px !important;
		margin: 0px !important;
	}

	[aria-label='Our Values'] {
		background:
			radial-gradient(circle, rgba(250, 247, 239, 0.9) 80%, rgba(255, 239, 184, 0.9) 100%), url("https://d2j6dbq0eux0bg.cloudfront.net/images/99498785/5165954040.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-blend-mode: screen;
	}
}


@media only screen and (max-device-width: 1023px) {
	header {
		width: 100%;
		position: fixed !important;
	}

	[aria-label='build caring communities'] {
		margin-top: 80px;
	}

	[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item {
		height: auto !important;
		padding: 0;
		margin: 0;
	}

	[aria-label='Our Mission'] .ins-tile__wrap.ins-tile__animated {
		margin-top: 0px !important;
		padding-top: 30px !important;
		margin-bottom: 0px !important;
	}

	[aria-label='Our Mission']+div>div {
		margin-top: -20px !important;
		padding-top: 0 !important;
		margin-bottom: 40px;
	}

	[aria-label='Our Mission']+div>div>div>div {
		margin-top: -20px !important;
		padding: 0;
		margin: 0;
	}


	[aria-label='Our Mission']+div>div>div>div>div {
		padding: 0 !important;
		margin: 0px;
	}

	[aria-label='Our Vision'] .ins-tile__wrap.ins-tile__animated {
		margin-top: 30px;
		padding: 0;
		margin-bottom: 30px;
	}

	[aria-label='Our Values'] .ins-tile__wrap.ins-tile__animated {
		margin-top: 30px;
		padding: 0;
		margin-bottom: 30px;
	}

	[aria-label='Our Values'] .ins-tile__wrap.ins-tile__animated>div>div {
		margin-top: 0px;
		padding: 0;
		margin-bottom: 0px !important;
	}

	[aria-label='Our Values'] .ins-tile__wrap.ins-tile__animated>div>div>div:first-child {
		margin: 0px !important;
		padding: 0 !important;
	}

	[aria-label='Our Values'] .ins-tile__wrap.ins-tile__animated>div>div>div:nth-child(2) {
		margin-bottom: 20px;
	}

	[aria-label='Our Programme'] .ins-tile__wrap.ins-tile__animated {
		margin-top: 30px;
		margin-bottom: 0px;
	}

	[aria-label='Our Programme']+div .ins-tile__wrap.ins-tile__animated {
		margin-top: 30px !important;
		margin-bottom: 30px;
	}

	[aria-label='Executive Committee'] .ins-tile__wrap.ins-tile__animated {
		padding: 0;
		padding-bottom: 30px !important;
	}

	[aria-label='Executive Committee'] .ins-tile__wrap.ins-tile__animated h2 {
		text-align: left !important;
		margin: 0;
		padding: 30px 0;
	}

	[aria-label='Executive Committee'] .ins-tile__animated .ins-tile__photo {
		width: 80px !important;
	}

	[aria-label='Board of Trustees'] .ins-tile__wrap.ins-tile__animated {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	[aria-label='Board of Trustees'] .ins-tile__wrap.ins-tile__animated h2 {
		text-align: left !important;
		margin: 0;
		padding-top: 12px;
		padding-bottom: 0;
	}

	[aria-label='Our Advisors'] .ins-tile__wrap.ins-tile__animated {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	[aria-label='Our Advisors'] .ins-tile__wrap.ins-tile__animated h2 {
		text-align: left !important;
		margin: 0;
		padding-top: 0px;
		padding-bottom: 0;
	}

	[aria-label='FAQs'] .ins-tile__wrap.ins-tile__animated {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	[aria-label="Interested in a Lemonade workshop on collective care?"] {
		min-height: 300px !important;
		max-height: 300px !important;
		height: 300px !important;
		margin-top: -30px;
		margin-bottom: -100px !important;
	}

	[aria-label="Interested in a Lemonade workshop on collective care?"] .ins-tile__wrap.ins-tile__animated {
		min-height: 300px !important;
		max-height: 300px !important;
		height: 300px !important;
		margin: 0 !important;
		padding: 0;
		margin-bottom: -130px !important;
	}

	footer * {
		font-size: 12px !important;
	}
}

@media (min-width: 900px) and (max-width: 974px) {
	[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item .ins-tile__text {
		height: 500px !important;
	}
}

@media (min-width: 975px) and (max-width: 1031px) {
	[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item .ins-tile__text {
		height: 450px !important;
	}
}

@media (min-width: 1032px) and (max-width: 1062px) {
	[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item .ins-tile__text {
		height: 400px !important;
	}
}

@media (min-width: 1063px) and (max-width: 1440px) {
	[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item .ins-tile__text {
		height: 360px !important;
	}
}

@media (min-width: 1441px) {
	[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item .ins-tile__text {
		height: 330px !important;
	}

	[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column {
		margin-bottom: 20px !important;
	}
}

header .ins-header {
	border-bottom: 1px solid #57634D !important;
}

div,
p,
span {
	font-weight: 400 !important;
	font-family: "Nunito", sans-serif !important;
	border: 2px solid rebeccapurple !important;
}

h1,
h2,
h3,
h4,
span {
	font-weight: 400 !important;
}

#tile-product-details,
#ecwid-products * {
	background: #FFEFB8;
}

[aria-label='build caring communities'] .ins-tile__wrap h1 {
	content: 'Helping the youth \n build caring communities';
	margin-top: 7px !important;
}


[aria-label='Board of Trustees'] {
	background-image: linear-gradient(#fff9e8b9, #fff9e8cb, #fff9e8e5, #fff9e8f0), url('https://d2j6dbq0eux0bg.cloudfront.net/images/99498785/5166000014.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-blend-mode: luminosity;
}

[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item {
	flex-direction: column-reverse !important;
	border: 0px !important;
	padding: 12px;
	display: flex;
	background: transparent !important;
}

[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item .ins-tile__review-body {
	margin-top: 24px !important;
	margin-bottom: 12px !important;
	height: 100px;
	justify-self: flex-start !important;
	place-self: flex-start !important;
}

[aria-label='Board of Trustees'] .ins-tile__body .ins-tile__column .ins-tile__item>div .ins-tile__author {
	line-height: 1.2 !important;
}

[aria-label='Our Advisors'] .ins-tile__item {
	display: flex;
	flex-direction: column-reverse !important;
	border: 0 !important;
	gap: 16px;
}

[aria-label='Board of Trustees'] .ins-tile__item .ins-tile__photo,
[aria-label='Our Advisors'] .ins-tile__item .ins-tile__photo {
	width: 120px;
	height: 120px;
	max-width: 100px !important;
	max-height: 100px !important;
}

[aria-label='Our Mission'] .ins-tile__animated {
	margin-top: 30px !important;
	margin-bottom: 0px !important;
}

[aria-label='Our Mission']+div>div {
	margin-top: -40px;
	margin-bottom: 30px;
}

[aria-label='Our Vision'] {
	background: #FAF7EF;
}

[aria-label='Our Values'] {
	background:
		radial-gradient(circle, rgba(250, 247, 239, 0.9) 80%, rgba(255, 239, 184, 0.9) 100%), url("https://d2j6dbq0eux0bg.cloudfront.net/images/99498785/5165954040.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: screen;
}

[aria-label='Our Vision'] .ins-tile__animated {
	margin-top: 40px;
	margin-bottom: 50px;
}

[aria-label='Our Values'] .ins-tile__animated {
	margin-top: 30px;
	margin-bottom: 60px;
}


[aria-label='Our Values'] .ins-tile__animated .ins-tile__body {
	margin-top: -20px;
}

[aria-label='Our Values'] .ins-tile__animated .ins-tile__body .ins-tile__item {
	margin-bottom: 0px;
	padding: 0;
}

[aria-label='Our Programme'] .ins-tile__animated {
	margin-top: 30px;
	margin-bottom: 0px;
}

[aria-label='Our Programme']+div .ins-tile__animated {
	margin-top: 0px !important;
	margin-bottom: 20px;
}

[aria-label='Executive Committee'] .ins-tile__animated {
	padding-top: 40px;
	padding-bottom: 30px;
}

[aria-label='Executive Committee'] .ins-tile__animated .ins-tile__photo {
	width: 140px !important;
}

[aria-label='Board of Trustees'] .ins-tile__animated {
	margin-top: 40px !important;
	margin-bottom: 30px;
}

[aria-label='Board of Trustees'] .ins-tile__body h2 {
	margin-bottom: 16px !important;
}

[aria-label='Our Advisors'] .ins-tile__animated {
	margin-top: 40px;
	margin-bottom: 30px;
}

[aria-label='Our Advisors'] .ins-tile__body h2 {
	margin-bottom: 16px !important;
}

[aria-label="Be a Lemonade Volunteer!"] {
	max-height: 400px !important;
	min-height: 380px !important;
	height: 380px !important;
}

[aria-label="Be a Lemonade Volunteer!"] .ins-tile__animated {
	display: flex;
	margin-top: 0px;
	margin-bottom: 0px;
	max-height: 380px !important;
	min-height: 380px !important;
	height: 380px !important;
}

[aria-label="Be a Lemonade Volunteer!"] .ins-tile__animated {
	padding: 0 !important;
	margin-top: 0px !important;
}

[aria-label="Be a Lemonade Volunteer!"] .ins-tile__animated>div {
	padding: 0 !important;
	margin-top: 0px !important;
}

[aria-label="Be a Lemonade Volunteer!"] .ins-tile__animated>.ins-tile__image {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	max-height: 380px !important;
	height: 380px !important;
	padding: 0 !important;
}

[aria-label='FAQs']:not(a) {
	background-image: url('https://d2j6dbq0eux0bg.cloudfront.net/images/99498785/5166143152.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-blend-mode: lighten;
	background-attachment: fixed;
}


[aria-label='FAQs'] .ins-tile__animated {
	margin-top: 30px;
	margin-bottom: 30px;
}

footer {
	font-size: 14px !important;
}

[aria-label='Our Mission']+div>div>div>div>div.ins-tile__feature-icon {
	opacity: 85%;
}

/* lightbulb */
[aria-label='Our Mission']+div>div>div>div:nth-child(3)>div.ins-tile__feature-icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("https://d2j6dbq0eux0bg.cloudfront.net/images/99498785/5130556150.png");
}

/* north star */
[aria-label='Our Mission']+div>div>div>div:nth-child(1)>div.ins-tile__feature-icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("https://d2j6dbq0eux0bg.cloudfront.net/images/99498785/5130556245.png");
}

/* heart */
[aria-label='Our Mission']+div>div>div>div:nth-child(4)>div.ins-tile__feature-icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("https://d2j6dbq0eux0bg.cloudfront.net/images/99498785/5130556230.png");
}

/* key */
[aria-label='Our Mission']+div>div>div>div:nth-child(2)>div.ins-tile__feature-icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("https://d2j6dbq0eux0bg.cloudfront.net/images/99498785/5155709103.png");
}

[aria-label='Our Mission']+div>div>div>div>div.ins-tile__feature-icon svg {
	display: none;
}

.ins-accordion .ins-accordion__item-title {
	margin-left: -60px;
}

[aria-label="Donate"] .ins-tile__wrap {
	margin-top: 40px;
	margin-bottom: 40px;
}

[aria-label="Donate"] .ins-tile__row .ins-tile__text {
	margin-top: 0 !important;
}

[aria-label="Donate"] .ins-tile__row [role="heading"] {
	font-size: 20px;
}

#ecwid-products .ec-footer,
#ecwid-products .ec-page-buttons {
	display: none !important;
}

.ec-store__content-wrapper {
	padding: 32px !important;
}

#ecwid-products .ec-breadcrumbs {
	display: none !important;
}

#ecwid-products .ec-store--no-transition {
	height: 0 !important;
}

/* to remove spacing and elements in footer */
.ins-tile--footer .ins-tile__wrap *:not(:first-child) {
	display: none !important;
}

[aria-label="© 2025 Lemonade"] {
	border-top: 1px solid #5D6954;
	padding: 0 !important;
}

[aria-label="© 2025 Lemonade"] .ins-tile__multi-location-list {
	display: flex !important;
	flex-wrap: wrap !important;
	padding-top: 0 !important;
	gap: 0 !important;
	width: 100%;
	margin: 0 auto;
}

[aria-label="© 2025 Lemonade"] .ins-tile__multi-location-item,
.ins-tile__row--contacts,
.ins-tile__contact-info-details,
[aria-label="© 2025 Lemonade"] .ins-tile__row--button>div {
	width: auto !important;
	display: flex !important;
	padding: 0 !important;
	margin: 0 !important;
	gap: 4px !important;
	height: 30px !important;
	align-items: center !important;
}


[aria-label="© 2025 Lemonade"] .ins-control__icon {
	display: none !important;
}

[aria-label="© 2025 Lemonade"] .ins-tile__multi-location-list {
	margin-top: 4px !important;
}

[aria-label="© 2025 Lemonade"] .ins-tile__wrap.ins-tile__animated {
	padding: 28px !important;
	margin: 0 auto;
}

[aria-label="© 2025 Lemonade"] .ins-tile__contact-info-details {
	margin-right: 3px !important;
}

[aria-label="© 2025 Lemonade"] a {
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-color: #FCD03A;
}

footer {
	display: none !important;
}


/* for accordion */
.ins-accordion__item>div:nth-child(2) {
	display: none;
}

.ins-accordion__item-wrap.open .ins-accordion__item>div:nth-child(2) {
	display: block;

}

.ins-accordion__item-wrap .ins-accordion__accordion-button {
	transform: rotate(180deg);
}

.ins-accordion__item-wrap.open .ins-accordion__accordion-button {
	transform: rotate(0deg);
}

#what-we-do,
#our-programme,
#our-team,
#get-involved,
#faqs {
	scroll-margin-top: 120px;
}

.ins-header__right .ins-link-wrap {
	max-width: 300px !important;
}

.close-button.show {
	display: block;
}

.close-button {
	display: none;
}

.burger-button.hide {
	display: none;
}
